volumes:
  artifacts:

services:
{%- for service in edge_applications %}
  {%- if service.docker_compose  %}
  {{ service.name }}:
    image: {{ service.image }}
    container_name: {{ service.name }}
    {%- if service.port %}
    ports:
      - {{ service.port }}:{{ service.port }}
    {%- endif %}
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    extra_hosts:
      - "{{ ziti_config.ctrl.cloud_ctrl.ctrl_advertised_address }}:${CLOUD_IP}"
      - "{{ ziti_config.ctrl.cloud_ctrl.router.cloud_router_advertised_address }}:${CLOUD_IP}"
        {%- for r in ziti_config.router.edge_router %}
      - "{{ r.edge_router_advertised_address }}:{{ r.edge_router_ip }}"
        {%- endfor %}
    networks:
      - default
    {%- if service.volume %}
    volumes:
      - {{ dir_default }}/{{ service.volume }}
    {%- endif %}
    {%- if service.environment %}
    environment:
    {%- for key, value in service.environment.items() %}
      {{ key }}: {{ value }}
    {%- endfor %}
    {%- endif %}
  {%- endif %}
{%- endfor %}
