#!/bin/bash


set -euo pipefail

# Source the common functions
# shellcheck source=common.sh.tmpl
source "common.sh"

# ==============================================================================
# VARIABLES
# ==============================================================================

# Passed as environment variables from the calling script
export CLOUD_IP="$CLOUD_IP"

# Ziti configuration from variable_input.yml
ZITI_HOME="{{ ziti_config.ctrl.cloud_ctrl.home }}"
ZITI_CTRL_ADVERTISED_ADDRESS="{{ ziti_config.ctrl.cloud_ctrl.ctrl_advertised_address }}"
ZITI_CTRL_ADVERTISED_PORT="{{ ziti_config.ctrl.cloud_ctrl.ctrl_advertised_port }}"
ZITI_USER="{{ ziti_config.ctrl.cloud_ctrl.user }}"
ZITI_PWD="{{ ziti_config.ctrl.cloud_ctrl.password }}"
ZITI_CLOUD_ROUTER_ADVERTISED_ADDRESS="{{ ziti_config.ctrl.cloud_ctrl.router.cloud_router_advertised_address }}"

CURRENT_DIR="{{ dir_default }}"

ROUTER_NAME="{{ router.id }}"
ZITI_EDGE_ROUTER_ADVERTISED_ADDRESS="{{ router.edge_router_advertised_address }}"
ZITI_ROUTER_PORT="{{ router.edge_router_port }}"

# CURRENT_DIR="$(pwd)/{{ssh_user}}"

# ==============================================================================
# FUNCTIONS
# ==============================================================================

# --- Create and enroll the Edge Router ---
create_and_enroll_edge_router() {
  log "Creating and enrolling Edge Router: $ROUTER_NAME"
  local jwt_file="${CURRENT_DIR}/${ROUTER_NAME}.jwt"

  "${ZITI_HOME}/bin/ziti" edge login "https://${ZITI_CTRL_ADVERTISED_ADDRESS}:${ZITI_CTRL_ADVERTISED_PORT}" --yes -u "${ZITI_USER}" -p "${ZITI_PWD}"

  "${ZITI_HOME}/bin/ziti" edge create edge-router "${ROUTER_NAME}" \
    --jwt-output-file "${jwt_file}" \
    --tunneler-enabled

  cat <<EOF >"${ZITI_HOME}/etc/router/bootstrap.env"
ZITI_CTRL_ADVERTISED_ADDRESS='${ZITI_CTRL_ADVERTISED_ADDRESS}'
ZITI_CTRL_ADVERTISED_PORT='${ZITI_CTRL_ADVERTISED_PORT}'
ZITI_ROUTER_ADVERTISED_ADDRESS='${ZITI_EDGE_ROUTER_ADVERTISED_ADDRESS}'
ZITI_ROUTER_PORT='${ZITI_ROUTER_PORT}'
ZITI_ENROLL_TOKEN='${jwt_file}'
ZITI_BOOTSTRAP_CONFIG_ARGS=''
EOF

  "${ZITI_HOME}/etc/router/bootstrap.bash"
  systemctl enable --now ziti-router.service

  "${ZITI_HOME}/bin/ziti" edge update edge-router "${ROUTER_NAME}" -a '{{ router.edge_router_attribute }}'
}

# --- Register and enroll Ziti tunnel for loadbalancer ---
register_loadbalancer_tunnel() {
  log "Registering and enrolling Ziti tunnel for loadbalancer"
  json_file=$(create_and_enroll_identity "loadbalancer" "loadbalancer,edge")
  nohup ziti-edge-tunnel run -i "${json_file}" >/var/log/ziti-edge-tunnel.log 2>&1 &
}

# ==============================================================================
# MAIN EXECUTION
# ==============================================================================

main() {
  log "Starting Edge Router Setup"
  install_ziti_cli
  install_ziti_edge_tunnel
  add_ziti_dns_entries "$CLOUD_IP"
  create_and_enroll_edge_router
  register_loadbalancer_tunnel
  log "Edge Router Setup Complete."
}

main "$@"

