#!/bin/bash

set -euo pipefail

source "$(dirname "$0")/../scripts/common.sh"

main(){

CTRL_ADVERTISE={{ ziti_config.ctrl.cloud_ctrl.ctrl_advertised_address }}
ROUTER_ADVERTISE={{ ziti_config.ctrl.cloud_ctrl.router.cloud_router_advertised_address }}

log "setup /etc/hosts for local machine"
setup_localhost "$PUB_CTRL_IP" "$CTRL_ADVERTISE"
setup_localhost "$PUB_ROUTER_IP" "$ROUTER_ADVERTISE"

sudo chown -R {{ k3s_cluster.vars.ansible_user }}:{{ k3s_cluster.vars.ansible_user }} /home/{{ k3s_cluster.vars.ansible_user }}/.config/ziti

login_zt {{ ziti_config.ctrl.cloud_ctrl.ctrl_advertised_address }} $CTRL_PASS

{% for router in ziti_config.router.edge_router %}
ROUTER_ID={{ router.id | replace('_', '-')}}

setup_router $ROUTER_ID $ROUTER_ID-namespace {{ router.edge_router_advertised_address }}

kubectl patch pvc $ROUTER_ID -n $ROUTER_ID-namespace -p '{"spec":{"storageClassName":"local-path"}}'

kubectl apply -f - <<EOF
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: $ROUTER_ID-ingress
  namespace: $ROUTER_ID-namespace
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
  - host: {{ router.edge_router_advertised_address }} 
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: $ROUTER_ID-edge
            port:
              number: 443
EOF
{% endfor %}


}

main"$@"
