#!/bin/bash

set -euo pipefail

# Source the common functions
# shellcheck source=common.sh.tmpl
source "common.sh"

# ==============================================================================
# VARIABLES
# ==============================================================================

# Passed as environment variables from the calling script
export CLOUD_IP="$CLOUD_IP"

# Ziti configuration from variable_input.yml

ZITI_HOME="{{ ziti_config.ctrl.cloud_ctrl.home }}"
ZITI_CTRL_ADVERTISED_ADDRESS="{{ ziti_config.ctrl.cloud_ctrl.ctrl_advertised_address }}"
ZITI_CTRL_ADVERTISED_PORT="{{ ziti_config.ctrl.cloud_ctrl.ctrl_advertised_port }}"
ZITI_USER="{{ ziti_config.ctrl.cloud_ctrl.user }}"
ZITI_PWD="{{ ziti_config.ctrl.cloud_ctrl.password }}"

CURRENT_DIR="{{ dir_default }}"

# ==============================================================================
# MAIN EXECUTION
# ==============================================================================

main() {
  log "Starting Sensor Setup"
  install_ziti_cli
  install_ziti_edge_tunnel
  add_ziti_dns_entries "$CLOUD_IP" 

  # Create and enroll the Ziti identity
  json_file=$(create_and_enroll_identity "object-detection-client-$(cat /etc/hostname)" "object-detection-client,edge")

  # Run the tunnel in the background
  nohup ziti-edge-tunnel run -i "${json_file}" >/var/log/ziti-edge-tunnel.log 2>&1 &

  log "Sensor Setup Complete."
}

main "$@"
