clientApi:
  advertisedHost: {{ ziti_config.ctrl.cloud_ctrl.ctrl_advertised_address }}
  advertisedPort: 443
  service:
    type: ClusterIP
    port: 443
    targetPort: 1280
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      kubernetes.io/ingress.allow-http: "false"
      nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    hosts:
      - host: ctrl.cloud.hong3nguyen.com
        paths:
          - path: /
            pathType: Prefix
