apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools:
    - name: default
      protocol: layer2
      addresses:
        - {{ k3s_cluster.metallb.addresses }}-{{ k3s_cluster.metallb.addresses  }}

