#!/bin/bash

set -euo pipefail

source "$(dirname "$0")/../scripts/common.sh"

main(){

CTRL_ADVERTISE={{ ziti_config.ctrl.cloud_ctrl.ctrl_advertised_address }}
ROUTER_ADVERTISE={{ ziti_config.ctrl.cloud_ctrl.router.cloud_router_advertised_address }}
JAEGER_ADVERTISE={{ cloud.jaeger_advertised_address }}
CLOUD_IP={{ cloud.cluster_ip }}
CTRL_PASS={{ ziti_config.ctrl.cloud_ctrl.password }}
JAEGER_PORT={{ cloud.jaeger_port }}

setup_trust
setup_jaeger
sidecar_jaeger_edge $JAEGER_ADVERTISE $JAEGER_PORT

log "setup cluster dns to cloud"
setup_dns ${CLOUD_IP} "$CTRL_ADVERTISE $ROUTER_ADVERTISE $JAEGER_ADVERTISE"

log "setup /etc/hosts for local machine"
setup_localhost "$CLOUD_IP" "$CTRL_ADVERTISE"
setup_localhost "$CLOUD_IP" "$ROUTER_ADVERTISE"

# login ctrl
setup_zitiCLI
login_zt $CTRL_ADVERTISE $CTRL_PASS

sudo chown -R {{ k3s_cluster.vars.ansible_user }}:{{ k3s_cluster.vars.ansible_user }} /home/{{ k3s_cluster.vars.ansible_user }}/.config/ziti

login_zt $CTRL_ADVERTISE $CTRL_PASS

{% for router in ziti_config.router.edge_router %}
ROUTER_ID={{ router.id | replace('_', '-')}}
EDGE_ROUTER_ADVERTISE={{ router.edge_router_advertised_address }}
# NAMESPACE=$ROUTER_ID-namespace
setup_router_traefik $ROUTER_ID $EDGE_ROUTER_ADVERTISE
{% endfor %}


}

main"$@"
