# Ziti Environment Setup

ZITI_CTRL_ADDRESS="{{ ziti_config.ctrl.cloud_ctrl.ctrl_advertised_address }}"
CLOUD_ROUTER_ID="{{ ziti_config.router.cloud_router.id }}"
EDGE_ROUTER_ID="{{ ziti_config.router.edge_router.id }}"

